In [ ]:


# Directory containing the files
dir_path = '229r/all1 copy 3'

# Directory containing the files
dat_dir_path = 'data/229r/all1 copy 3'

In [86]:
import pandas as pd
import plotly.graph_objs as go
import plotly.io as pio
file_name = """229r/task_date_{'x': 10, 'y': 10}_{'NOT': 1.0, 'NAND': 1.0, 'AND': 2.0, 'ORN': 2.0, 'OR': 3.0, 'ANDN': 3.0, 'NOR': 4.0, 'XOR': 4.0, 'EQU': 5.0}_03-06_20-38-48.txt"""

def plot_graph(file_name="""229r/task_date_{'x': 10, 'y': 10}_{'NOT': 1.0, 'NAND': 1.0, 'AND': 2.0, 'ORN': 2.0, 'OR': 3.0, 'ANDN': 3.0, 'NOR': 4.0, 'XOR': 4.0, 'EQU': 5.0}_03-06_20-38-48.txt""", title='Average Fitness over Time', width = 800,    height = 600):

    # Read data from file into a list of strings
    with open(file_name, 'r') as f:
        lines = f.readlines()

    # Parse the lines to create a list of dictionaries, where each dictionary contains values for each column
    data = []
    for line in lines:
        if line.startswith('UD:'):
            values = line.strip().split()
            # print(values)

            data.append({
                'UD': int(values[1]),
                'Gen': float(values[3]),
                'Fit': float(values[5]),
                'Orgs': int(values[7])
            })

    # Create dataframe from list of dictionaries
    df = pd.DataFrame(data)
        

    # Define x and y data
    x_data = df.iloc[:, 0] # First column as x-axis
    y_data = df[["Fit"]]
    # y_data = df.iloc[:, 1:] # Every other column as y-axis

    # Create plotly trace for each column
    data = []
    for column in y_data.columns:
        trace = go.Scatter(x=x_data, y=y_data[column], mode='lines', name=column)
        data.append(trace)

    # Define plot layout
    layout = go.Layout(title=title, xaxis=dict(title='# of updates'), yaxis=dict(title='average fitness'), margin=dict(t=40, b=20, l=20, r=20), autosize=False, width=width, height=height)

    # Create plotly figure
    fig = go.Figure(data=data, layout=layout)

    # Display plot
    file_parts = file_name.split('/')
    fig.show()
    pio.write_image(fig, file_parts[0]+'/plots/'+file_parts[1].split('.')[0]+'.png', width=width, height=height, scale=2)

In [87]:
import os
import pandas as pd
import re
# List to store the file names and last lines
file_data = []

# Regular expression pattern
pattern = r"(\d+)_mxc_(\w+)_(\[.*\])_date_(\d{2}-\d{2})_(\d{2}-\d{2}-\d{2})_xydict_values\((\[.*\])\)\.txt"
# Create an empty DataFrame with the required columns
column_names = ['index', 'max_count', 'values', 'experiment_start_time_string', 'xy_values', 'Last_UD', 'Gen', 'Fit', 'Orgs']
df = pd.DataFrame(columns=column_names)

# Create an empty list to store the data
data_list = []

# Loop through all the files in the directory
for filename in os.listdir(dir_path):
    # Check if the file is a text file
    if filename.endswith('.txt'):
        # Open the file and read the last line
        with open(os.path.join(dir_path, filename), 'r') as f:
            # Search for pattern in the log_file_name
            match = re.search(pattern, filename)
            if not match:
                raise Exception("No match found for pattern in file name: {}".format(filename))
            index = int(match.group(1))
            max_count = match.group(2) == 'True'
            values = tuple(int(i) for i in match.group(3).strip('[]').split(', '))
            experiment_start_time_string = match.group(4) + "_" + match.group(5)
            xy_values = tuple(int(i) for i in match.group(6).strip('[]').split(', '))
            
            lines = f.readlines()
            last_line = lines[-1].strip()
            
            with open(os.path.join(dat_dir_path, filename), 'r') as fdat: 
                lines_dat = fdat.readlines()
                last_line_dat = lines_dat[-1].strip()
                numbers = last_line_dat.split()

                dictionary = {
                    "Update": int(numbers[0]),
                    "Not": int(numbers[1]),
                    "Nand": int(numbers[2]),
                    "And": int(numbers[3]),
                    "OrNot": int(numbers[4]),
                    "Or": int(numbers[5]),
                    "AndNot": int(numbers[6]),
                    "Nor": int(numbers[7]),
                    "Xor": int(numbers[8])
                }
                EQU_dict = {
                    "Equals": int(numbers[9])}

            
            if last_line.startswith('UD:'):
                last_line_string = last_line.strip().split()

                data = {
                'max_count': max_count,
                'values': values,
                'last_line_string': last_line_string,
                'experiment_start_time_string': experiment_start_time_string,
                'xy_values': xy_values,
                'Last_UD': int(last_line_string[1]),
                'Gen': float(last_line_string[3]),
                'Fit': float(last_line_string[5]),
                'Orgs': int(last_line_string[7]),
                'index': index,
                'filename': filename,
                }
                data.update(dictionary)
                EQU_dict.update(data)

                # Append the data to the list
                data_list.append(EQU_dict)
            else: 
                raise Exception("Last line does not start with UD: {}".format(filename))

# Create the DataFrame from the data list
df = pd.DataFrame(data_list)

# Print the dataframe
df

,Equals,max_count,values,last_line_string,experiment_start_time_string,xy_values,Last_UD,Gen,Fit,Orgs,...,filename,Update,Not,Nand,And,OrNot,Or,AndNot,Nor,Xor
0,1826,True,"(2, 3, 1, 4, 5)","[UD:, 4400, Gen:, 1017.648, Fit:, 5.304728e+72...",04-13_20-35-15,"(120, 120)",4400,1017.6480,5.304728e+72,14345,...,"0_mxc_True_[2, 3, 1, 4, 5]_date_04-13_20-35-15...",4400,12397,13294,11875,13104,49,542,9074,0
1,3389,True,"(4, 1, 2, 3, 5)","[UD:, 3100, Gen:, 792.0930, Fit:, 9.769858e+44...",04-15_03-32-04,"(120, 120)",3100,792.0930,9.769858e+44,14360,...,"3_mxc_True_[4, 1, 2, 3, 5]_date_04-15_03-32-04...",3100,12099,12937,315,11570,2853,10150,4093,7
2,3641,True,"(1, 2, 3, 4, 6)","[UD:, 10000, Gen:, 2538.028, Fit:, 4.369271e+1...",04-15_05-00-46,"(120, 120)",10000,2538.0280,4.369271e+110,14248,...,"4_mxc_True_[1, 2, 3, 4, 6]_date_04-15_05-00-46...",10000,12988,10536,7502,12010,12113,12095,11874,8
3,0,False,"(1, 2, 3, 4, 6)","[UD:, 10000, Gen:, 1331.495, Fit:, 1.073964e+1...",04-13_15-10-40,"(120, 120)",10000,1331.4950,1.073964e+158,14259,...,"0_mxc_False_[1, 2, 3, 4, 6]_date_04-13_15-10-4...",10000,11353,404,12,10494,11233,121,2247,0
4,0,False,"(3, 1, 2, 4, 5)","[UD:, 2200, Gen:, 1359.863, Fit:, 1.065862e+14...",04-14_13-31-51,"(120, 120)",2200,1359.8630,1.065862e+146,14153,...,"2_mxc_False_[3, 1, 2, 4, 5]_date_04-14_13-31-5...",2200,13518,4609,13,74,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
310,0,False,"(1, 4, 2, 3, 5)","[UD:, 1200, Gen:, 219.3457, Fit:, 3.566222e+09...",04-14_23-43-33,"(120, 120)",1200,219.3457,3.566222e+09,11530,...,"3_mxc_False_[1, 4, 2, 3, 5]_date_04-14_23-43-3...",1200,1506,1214,1912,3145,162,28,2104,0
311,0,False,"(2, 4, 1, 3, 5)","[UD:, 1400, Gen:, 634.9588, Fit:, 2.675431e+65...",04-15_14-12-59,"(120, 120)",1400,634.9588,2.675431e+65,12900,...,"5_mxc_False_[2, 4, 1, 3, 5]_date_04-15_14-12-5...",1400,7798,7949,449,9076,64,8,17,0
312,0,False,"(2, 4, 3, 1, 5)","[UD:, 1300, Gen:, 125.8101, Fit:, 1.004430e+21...",04-15_01-55-27,"(120, 120)",1300,125.8101,1.004430e+211,5908,...,"3_mxc_False_[2, 4, 3, 1, 5]_date_04-15_01-55-2...",1300,103,1962,3,2358,7,0,0,0
313,0,True,"(3, 1, 4, 2, 5)","[UD:, 10000, Gen:, 2230.110, Fit:, 39000.65, O...",04-14_13-33-19,"(120, 120)",10000,2230.1100,3.900065e+04,14347,...,"2_mxc_True_[3, 1, 4, 2, 5]_date_04-14_13-33-19...",10000,13569,12583,10077,11806,13063,11254,12363,0
314,967,True,"(1, 3, 2, 4, 5)","[UD:, 2600, Gen:, 863.4258, Fit:, 714.1025, Or...",04-14_10-10-09,"(120, 120)",2600,863.4258,7.141025e+02,14361,...,"2_mxc_True_[1, 3, 2, 4, 5]_date_04-14_10-10-09...",2600,2567,944,9277,9928,21,9222,7192,0

In [88]:
import pandas as pd
import pickle

# Pickle the dataframe to a file
with open('229r/results/all1_copy_fitness_and_counts_df.pickle', 'wb') as f:
    pickle.dump(df, f)

In [89]:
import pandas as pd
import pickle

# Load the pickled dataframe from the file
with open('229r/results/all1_copy_fitness_and_counts_df.pickle', 'rb') as f:
    df = pickle.load(f)

# Print the dataframe
display(df)

,Equals,max_count,values,last_line_string,experiment_start_time_string,xy_values,Last_UD,Gen,Fit,Orgs,...,filename,Update,Not,Nand,And,OrNot,Or,AndNot,Nor,Xor
0,1826,True,"(2, 3, 1, 4, 5)","[UD:, 4400, Gen:, 1017.648, Fit:, 5.304728e+72...",04-13_20-35-15,"(120, 120)",4400,1017.6480,5.304728e+72,14345,...,"0_mxc_True_[2, 3, 1, 4, 5]_date_04-13_20-35-15...",4400,12397,13294,11875,13104,49,542,9074,0
1,3389,True,"(4, 1, 2, 3, 5)","[UD:, 3100, Gen:, 792.0930, Fit:, 9.769858e+44...",04-15_03-32-04,"(120, 120)",3100,792.0930,9.769858e+44,14360,...,"3_mxc_True_[4, 1, 2, 3, 5]_date_04-15_03-32-04...",3100,12099,12937,315,11570,2853,10150,4093,7
2,3641,True,"(1, 2, 3, 4, 6)","[UD:, 10000, Gen:, 2538.028, Fit:, 4.369271e+1...",04-15_05-00-46,"(120, 120)",10000,2538.0280,4.369271e+110,14248,...,"4_mxc_True_[1, 2, 3, 4, 6]_date_04-15_05-00-46...",10000,12988,10536,7502,12010,12113,12095,11874,8
3,0,False,"(1, 2, 3, 4, 6)","[UD:, 10000, Gen:, 1331.495, Fit:, 1.073964e+1...",04-13_15-10-40,"(120, 120)",10000,1331.4950,1.073964e+158,14259,...,"0_mxc_False_[1, 2, 3, 4, 6]_date_04-13_15-10-4...",10000,11353,404,12,10494,11233,121,2247,0
4,0,False,"(3, 1, 2, 4, 5)","[UD:, 2200, Gen:, 1359.863, Fit:, 1.065862e+14...",04-14_13-31-51,"(120, 120)",2200,1359.8630,1.065862e+146,14153,...,"2_mxc_False_[3, 1, 2, 4, 5]_date_04-14_13-31-5...",2200,13518,4609,13,74,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
310,0,False,"(1, 4, 2, 3, 5)","[UD:, 1200, Gen:, 219.3457, Fit:, 3.566222e+09...",04-14_23-43-33,"(120, 120)",1200,219.3457,3.566222e+09,11530,...,"3_mxc_False_[1, 4, 2, 3, 5]_date_04-14_23-43-3...",1200,1506,1214,1912,3145,162,28,2104,0
311,0,False,"(2, 4, 1, 3, 5)","[UD:, 1400, Gen:, 634.9588, Fit:, 2.675431e+65...",04-15_14-12-59,"(120, 120)",1400,634.9588,2.675431e+65,12900,...,"5_mxc_False_[2, 4, 1, 3, 5]_date_04-15_14-12-5...",1400,7798,7949,449,9076,64,8,17,0
312,0,False,"(2, 4, 3, 1, 5)","[UD:, 1300, Gen:, 125.8101, Fit:, 1.004430e+21...",04-15_01-55-27,"(120, 120)",1300,125.8101,1.004430e+211,5908,...,"3_mxc_False_[2, 4, 3, 1, 5]_date_04-15_01-55-2...",1300,103,1962,3,2358,7,0,0,0
313,0,True,"(3, 1, 4, 2, 5)","[UD:, 10000, Gen:, 2230.110, Fit:, 39000.65, O...",04-14_13-33-19,"(120, 120)",10000,2230.1100,3.900065e+04,14347,...,"2_mxc_True_[3, 1, 4, 2, 5]_date_04-14_13-33-19...",10000,13569,12583,10077,11806,13063,11254,12363,0
314,967,True,"(1, 3, 2, 4, 5)","[UD:, 2600, Gen:, 863.4258, Fit:, 714.1025, Or...",04-14_10-10-09,"(120, 120)",2600,863.4258,7.141025e+02,14361,...,"2_mxc_True_[1, 3, 2, 4, 5]_date_04-14_10-10-09...",2600,2567,944,9277,9928,21,9222,7192,0

In [90]:
df.describe()

,Equals,Last_UD,Gen,Fit,Orgs,index,Update,Not,Nand,And,OrNot,Or,AndNot,Nor,Xor
count,315.000000,315.000000,315.000000,3.150000e+02,315.000000,315.000000,315.000000,315.000000,315.000000,315.000000,315.000000,315.000000,315.000000,315.000000,315.000000
mean,1742.146032,6820.790476,1690.556303,1.412773e+298,13102.711111,2.336508,6820.317460,8483.031746,8077.600000,4130.990476,8144.206349,5423.053968,5650.869841,3912.142857,774.822222
std,3466.971196,3778.272277,1485.635242,inf,2301.177320,1.715729,3778.758081,5030.230517,5294.069233,5303.345458,5144.808247,5458.367291,5594.752676,4998.687704,2589.692444
min,0.000000,500.000000,45.979350,2.596068e-01,3583.000000,0.000000,500.000000,103.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,2500.000000,502.710150,6.658217e+04,13177.000000,1.000000,2500.000000,3163.500000,2161.500000,7.000000,2655.500000,18.500000,15.000000,0.500000,0.000000
50%,0.000000,10000.000000,1727.170000,5.971620e+28,14225.000000,2.000000,10000.000000,10673.000000,10329.000000,205.000000,10759.000000,2993.000000,3258.000000,135.000000,0.000000
75%,887.500000,10000.000000,2338.242500,5.300844e+155,14362.000000,4.000000,10000.000000,13124.500000,13163.000000,10610.500000,12710.000000,11611.500000,11697.500000,9592.000000,1.000000
max,12723.000000,10000.000000,13379.480000,3.391337e+300,14391.000000,5.000000,10000.000000,14061.000000,14174.000000,13331.000000,14077.000000,13722.000000,13855.000000,12857.000000,12445.000000

In [91]:
df.columns

Index(['Equals', 'max_count', 'values', 'last_line_string',
       'experiment_start_time_string', 'xy_values', 'Last_UD', 'Gen', 'Fit',
       'Orgs', 'index', 'filename', 'Update', 'Not', 'Nand', 'And', 'OrNot',
       'Or', 'AndNot', 'Nor', 'Xor'],
      dtype='object')

In [92]:
# Get all the rows with max_count = False and Last_UD = 10000
filtered_df = df[(df['max_count'] == False) & (df['Last_UD'] == 10000)]

In [93]:
filtered_df

,Equals,max_count,values,last_line_string,experiment_start_time_string,xy_values,Last_UD,Gen,Fit,Orgs,...,filename,Update,Not,Nand,And,OrNot,Or,AndNot,Nor,Xor
3,0,False,"(1, 2, 3, 4, 6)","[UD:, 10000, Gen:, 1331.495, Fit:, 1.073964e+1...",04-13_15-10-40,"(120, 120)",10000,1331.4950,1.073964e+158,14259,...,"0_mxc_False_[1, 2, 3, 4, 6]_date_04-13_15-10-4...",10000,11353,404,12,10494,11233,121,2247,0
19,6,False,"(2, 4, 1, 3, 5)","[UD:, 10000, Gen:, 5787.453, Fit:, 1.116889e+1...",04-15_01-33-31,"(120, 120)",10000,5787.4530,1.116889e+165,13590,...,"3_mxc_False_[2, 4, 1, 3, 5]_date_04-15_01-33-3...",10000,6413,8180,9335,10509,27,89,2,0
32,0,False,"(3, 2, 4, 1, 5)","[UD:, 10000, Gen:, 706.1867, Fit:, 5.579337e+1...",04-14_06-14-08,"(120, 120)",10000,706.1867,5.579337e+119,12930,...,"1_mxc_False_[3, 2, 4, 1, 5]_date_04-14_06-14-0...",10000,4741,140,0,1956,3589,10,21,0
37,0,False,"(3, 4, 1, 2, 5)","[UD:, 10000, Gen:, 1314.804, Fit:, 7.214520e+3...",04-14_14-50-55,"(120, 120)",10000,1314.8040,7.214520e+35,9911,...,"2_mxc_False_[3, 4, 1, 2, 5]_date_04-14_14-50-5...",10000,2132,6866,3238,6854,20,11,4,10
44,0,False,"(3, 2, 1, 4, 5)","[UD:, 10000, Gen:, 2510.594, Fit:, 1.596592e+1...",04-15_02-31-58,"(120, 120)",10000,2510.5940,1.596592e+136,14043,...,"3_mxc_False_[3, 2, 1, 4, 5]_date_04-15_02-31-5...",10000,1294,13010,705,12304,2,602,0,0
45,0,False,"(3, 2, 1, 4, 5)","[UD:, 10000, Gen:, 749.8986, Fit:, 4.651467e+1...",04-14_14-11-05,"(120, 120)",10000,749.8986,4.651467e+166,9318,...,"2_mxc_False_[3, 2, 1, 4, 5]_date_04-14_14-11-0...",10000,3391,37,0,4,0,0,0,0
49,0,False,"(4, 2, 3, 1, 5)","[UD:, 10000, Gen:, 11663.70, Fit:, 9.229126e+6...",04-15_04-21-05,"(120, 120)",10000,11663.7000,9.229126e+69,13952,...,"3_mxc_False_[4, 2, 3, 1, 5]_date_04-15_04-21-0...",10000,12549,3076,1,205,3,1,0,0
51,0,False,"(2, 1, 4, 3, 5)","[UD:, 10000, Gen:, 3413.283, Fit:, 1.174972e+4...",04-15_00-34-45,"(120, 120)",10000,3413.2830,1.174972e+45,14069,...,"3_mxc_False_[2, 1, 4, 3, 5]_date_04-15_00-34-4...",10000,13435,13843,15,746,64,3388,12,0
53,0,False,"(1, 3, 4, 2, 5)","[UD:, 10000, Gen:, 3151.796, Fit:, 4.911400e+2...",04-14_23-16-04,"(120, 120)",10000,3151.7960,4.911400e+268,14086,...,"3_mxc_False_[1, 3, 4, 2, 5]_date_04-14_23-16-0...",10000,12936,1100,3,12929,13051,1208,48,0
59,0,False,"(1, 4, 2, 3, 5)","[UD:, 10000, Gen:, 3841.312, Fit:, 3.357075e+9...",04-14_10-35-02,"(120, 120)",10000,3841.3120,3.357075e+94,13780,...,"2_mxc_False_[1, 4, 2, 3, 5]_date_04-14_10-35-0...",10000,9730,238,2,11735,19,10099,0,0
70,0,False,"(4, 3, 1, 2, 5)","[UD:, 10000, Gen:, 2111.325, Fit:, 9.178811e+1...",04-14_17-00-35,"(120, 120)",10000,2111.3250,9.178811e+170,14150,...,"2_mxc_False_[4, 3, 1, 2, 5]_date_04-14_17-00-3...",10000,13184,13411,100,7458,26,1,2,0
84,0,False,"(1, 2, 3, 4, 5)","[UD:, 10000, Gen:, 446.0301, Fit:, 5.971620e+2...",04-14_21-42-20,"(120, 120)",10000,446.0301,5.971620e+28,14360,...,"3_mxc_False_[1, 2, 3, 4, 5]_date_04-14_21-42-2...",10000,2571,4313,1,4228,4,2574,0,0
85,0,False,"(1, 2, 3, 4, 3)","[UD:, 10000, Gen:, 4381.775, Fit:, 3.019758e+2...",04-14_08-28-00,"(120, 120)",10000,4381.7750,3.019758e+282,14046,...,"2_mxc_False_[1, 2, 3, 4, 3]_date_04-14_08-28-0...",10000,981,187,13,1861,12644,1458,11342,0
109,0,False,"(3, 2, 1, 4, 5)","[UD:, 10000, Gen:, 3973.725, Fit:, 2.540483e+1...",04-15_15-29-54,"(120, 120)",10000,3973.7250,2.540483e+157,10513,...,"5_mxc_False_[3, 2, 1, 4, 5]_date_04-15_15-29-5...",10000,2462,7437,18,132,0,265,0,0
113,0,False,"(1, 4, 2, 3, 5)","[UD:, 10000, Gen:, 113.8155, Fit:, 1.625998e+1...",04-15_07-53-50,"(120, 120)",10000,113.8155,1.625998e+166,14121,...,"4_mxc_False_[1, 4, 2, 3, 5]_date_04-15_07-53-5...",10000,135,201,0,1110,0,0,0,0
114,2,False,"(1, 2, 4, 3, 5)","[UD:, 10000, Gen:, 2458.093, Fit:, 7.271464e+4...",04-14_02-37-03,"(120, 120)",10000,2458.0930,7.271464e+42,14063,...,"1_mxc_False_[1, 2, 4, 3, 5]_date_04-14_02-37-0...",10000,3967,667,714,13846,13722,12852,4573,2
115,0,False,"(2, 3, 1, 4, 5)","[UD:, 10000, Gen:, 2841.018, Fit:, 9.692172e+1...",04-14_12-04-29,"(120, 120)",10000,2841.0180,9.692172e+180,14052,...,"2_mxc_False_[2, 3, 1, 4, 5]_date_04-14_12-04-2...",10000,12492,400,19,10754,74,139,75,0
123,0,False,"(4, 1, 2, 3, 5)","[UD:, 10000, Gen:, 3289.372, Fit:, 3.594581e+4...",04-15_16-30-40,"(120, 120)",10000,3289.3720,3.594581e+49,5423,...,"5_mxc_False_[4, 1, 2, 3, 5]_date_04-15_16-30-4...",10000,1627,10,1,1,2,4,0,0
124,0,False,"(4, 1, 2, 3, 5)","[UD:, 10000, Gen:, 3737.718, Fit:, 1.775644e+9...",04-14_15-33-46,"(120, 120)",10000,3737.7180,1.775644e+93,13406,...,"2_mxc_False_[4, 1, 2, 3, 5]_date_04-14_15-33-4...",10000,118,12367,20,206,3,1,0,0
129,0,False,"(2, 4, 1, 3, 5)","[UD:, 10000, Gen:, 3283.730, Fit:, 4.517058e+1...",04-14_12-47-23,"(120, 120)",10000,3283.7300,4.517058e+123,13594,...,"2_mxc_False_[2, 4, 1, 3, 5]_date_04-14_12-47-2...",10000,11231,13472,4,13561,15,0,0,0
139,0,False,"(1, 2, 3, 4, 5)","[UD:, 10000, Gen:, 13379.48, Fit:, 3.183076e+1...",04-15_11-20-36,"(120, 120)",10000,13379.4800,3.183076e+118,13810,...,"5_mxc_False_[1, 2, 3, 4, 5]_date_04-15_11-20-3...",10000,3405,309,51,10155,3456,1007,9436,0
155,1,False,"(1, 2, 3, 4, 6)","[UD:, 10000, Gen:, 7114.001, Fit:, 2.021980e+2...",04-14_00-38-55,"(120, 120)",10000,7114.0010,2.021980e+271,14224,...,"1_mxc_False_[1, 2, 3, 4, 6]_date_04-14_00-38-5...",10000,310,12969,419,11798,249,13855,0,9117
167,0,False,"(4, 2, 3, 1, 5)","[UD:, 10000, Gen:, 3499.213, Fit:, 4.977952e+1...",04-14_16-34-43,"(120, 120)",10000,3499.2130,4.977952e+116,14174,...,"2_mxc_False_[4, 2, 3, 1, 5]_date_04-14_16-34-4...",10000,14061,14070,203,2621,10405,46,11,0
173,0,False,"(1, 2, 4, 3, 5)","[UD:, 10000, Gen:, 179.4399, Fit:, 835530.0, O...",04-14_22-26-54,"(120, 120)",10000,179.4399,8.355300e+05,14231,...,"3_mxc_False_[1, 2, 4, 3, 5]_date_04-14_22-26-5...",10000,1851,1012,0,642,95,733,75,0
174,0,False,"(2, 1, 3, 4, 5)","[UD:, 10000, Gen:, 1819.951, Fit:, 7.043458e+1...",04-13_19-45-47,"(120, 120)",10000,1819.9510,7.043458e+116,14019,...,"0_mxc_False_[2, 1, 3, 4, 5]_date_04-13_19-45-4...",10000,13692,13740,21,427,4,1,0,0
176,0,False,"(1, 2, 3, 4, 6)","[UD:, 10000, Gen:, 3258.864, Fit:, 1.715377e+1...",04-15_05-14-25,"(120, 120)",10000,3258.8640,1.715377e+123,14187,...,"4_mxc_False_[1, 2, 3, 4, 6]_date_04-15_05-14-2...",10000,1658,6357,32,2942,13,5830,5874,0
180,0,False,"(2, 4, 3, 1, 5)","[UD:, 10000, Gen:, 2830.238, Fit:, 1.352044e+2...",04-15_14-30-30,"(120, 120)",10000,2830.2380,1.352044e+294,14002,...,"5_mxc_False_[2, 4, 3, 1, 5]_date_04-15_14-30-3...",10000,1974,5158,1,12110,54,10,0,0
186,0,False,"(1, 2, 3, 4, 4)","[UD:, 10000, Gen:, 1496.815, Fit:, 9.112436e+7...",04-14_20-22-47,"(120, 120)",10000,1496.8150,9.112436e+72,13911,...,"3_mxc_False_[1, 2, 3, 4, 4]_date_04-14_20-22-4...",10000,11871,259,23,10759,0,11153,0,0
187,0,False,"(1, 2, 3, 4, 4)","[UD:, 10000, Gen:, 6141.021, Fit:, 2.082889e+1...",04-15_05-37-26,"(120, 120)",10000,6141.0210,2.082889e+199,14006,...,"4_mxc_False_[1, 2, 3, 4, 4]_date_04-15_05-37-2...",10000,8922,4458,43,9021,7403,465,2536,0
193,0,False,"(1, 2, 3, 4, 5)","[UD:, 10000, Gen:, 2350.410, Fit:, 1.932565e+4...",04-14_09-42-13,"(120, 120)",10000,2350.4100,1.932565e+40,14015,...,"2_mxc_False_[1, 2, 3, 4, 5]_date_04-14_09-42-1...",10000,8270,457,0,7455,6737,0,26,0
194,0,False,"(1, 2, 3, 4, 4)","[UD:, 10000, Gen:, 1698.857, Fit:, 1.508958e+1...",04-14_01-08-45,"(120, 120)",10000,1698.8570,1.508958e+135,13958,...,"1_mxc_False_[1, 2, 3, 4, 4]_date_04-14_01-08-4...",10000,942,248,21,12271,5105,12179,6332,0
195,0,False,"(1, 2, 3, 4, 5)","[UD:, 10000, Gen:, 440.5190, Fit:, 2.603604e+7...",04-13_16-59-10,"(120, 120)",10000,440.5190,2.603604e+75,4732,...,"0_mxc_False_[1, 2, 3, 4, 5]_date_04-13_16-59-1...",10000,551,89,14,790,11,545,0,0
200,1,False,"(2, 3, 1, 4, 5)","[UD:, 10000, Gen:, 3164.719, Fit:, 7.995238e+9...",04-14_04-26-24,"(120, 120)",10000,3164.7190,7.995238e+90,13463,...,"1_mxc_False_[2, 3, 1, 4, 5]_date_04-14_04-26-2...",10000,6544,4739,290,12701,91,54,24,0
201,0,False,"(1, 2, 3, 4, 3)","[UD:, 10000, Gen:, 3222.288, Fit:, 1.704421e+1...",04-15_06-01-11,"(120, 120)",10000,3222.2880,1.704421e+157,13359,...,"4_mxc_False_[1, 2, 3, 4, 3]_date_04-15_06-01-1...",10000,9975,149,127,6685,9250,8911,36,0
230,0,False,"(1, 3, 4, 2, 5)","[UD:, 10000, Gen:, 3272.341, Fit:, 3.954544e+9...",04-13_17-38-50,"(120, 120)",10000,3272.3410,3.954544e+99,14239,...,"0_mxc_False_[1, 3, 4, 2, 5]_date_04-13_17-38-5...",10000,1406,11118,363,11826,12317,12945,135,0
245,0,False,"(1, 2, 3, 4, 1)","[UD:, 10000, Gen:, 470.2985, Fit:, 9.591164e+1...",04-15_10-56-28,"(120, 120)",10000,470.2985,9.591164e+12,14168,...,"5_mxc_False_[1, 2, 3, 4, 1]_date_04-15_10-56-2...",10000,521,1170,0,3241,2765,0,0,0
248,0,False,"(1, 2, 3, 4, 3)","[UD:, 10000, Gen:, 4996.334, Fit:, 3.754598e+1...",04-13_15-54-35,"(120, 120)",10000,4996.3340,3.754598e+177,12824,...,"0_mxc_False_[1, 2, 3, 4, 3]_date_04-13_15-54-3...",10000,1083,769,7008,8135,21,7021,0,0
267,0,False,"(4, 3, 1, 2, 5)","[UD:, 10000, Gen:, 797.6634, Fit:, 1.032054e+1...",04-14_00-15-28,"(120, 120)",10000,797.6634,1.032054e+137,8559,...,"0_mxc_False_[4, 3, 1, 2, 5]_date_04-14_00-15-2...",10000,7210,7649,0,7044,42,0,0,0
269,0,False,"(1, 4, 3, 2, 5)","[UD:, 10000, Gen:, 4409.071, Fit:, 5.934237e+7...",04-15_08-15-58,"(120, 120)",10000,4409.0710,5.934237e+79,13807,...,"4_mxc_False_[1, 4, 3, 2, 5]_date_04-15_08-15-5...",10000,679,5136,13077,13637,38,166,8,0
279,0,False,"(1, 4, 3, 2, 5)","[UD:, 10000, Gen:, 4266.096, Fit:, 1.466622e+1...",04-13_19-03-03,"(120, 120)",10000,4266.0960,1.466622e+130,14133,...,"0_mxc_False_[1, 4, 3, 2, 5]_date_04-13_19-03-0...",10000,1293,634,7,14077,12531,2,0,0
292,0,False,"(3, 1, 2, 4, 5)","[UD:, 10000, Gen:, 307.3093, Fit:, 4.261628e+2...",04-14_05-26-29,"(120, 120)",10000,307.3093,4.261628e+21,10358,...,"1_mxc_False_[3, 1, 2, 4, 5]_date_04-14_05-26-2...",10000,4669,2069,11,38,0,3,0,0
295,0,False,"(2, 3, 4, 1, 5)","[UD:, 10000, Gen:, 394.8523, Fit:, 9.685311e+4...",04-14_12-30-32,"(120, 120)",10000,394.8523,9.685311e+40,10144,...,"2_mxc_False_[2, 3, 4, 1, 5]_date_04-14_12-30-3...",10000,807,571,0,509,0,0,0,0

In [94]:
sorted_EQU_df = df.sort_values("Equals", ascending=False)

In [95]:
sorted_EQU_df

,Equals,max_count,values,last_line_string,experiment_start_time_string,xy_values,Last_UD,Gen,Fit,Orgs,...,filename,Update,Not,Nand,And,OrNot,Or,AndNot,Nor,Xor
305,12723,True,"(4, 1, 2, 3, 5)","[UD:, 10000, Gen:, 2169.567, Fit:, 5.271931e+2...",04-14_15-15-07,"(120, 120)",10000,2169.5670,5.271931e+27,14260,...,"2_mxc_True_[4, 1, 2, 3, 5]_date_04-14_15-15-07...",10000,13532,13302,649,13460,13100,5681,11592,12445
95,12049,True,"(3, 1, 2, 4, 5)","[UD:, 7200, Gen:, 1971.225, Fit:, 6.301338e+07...",04-15_01-55-42,"(120, 120)",7200,1971.2250,6.301338e+07,14367,...,"3_mxc_True_[3, 1, 2, 4, 5]_date_04-15_01-55-42...",7200,13194,13522,162,12983,16,13137,12308,1
20,11855,True,"(4, 3, 1, 2, 5)","[UD:, 10000, Gen:, 2338.887, Fit:, 1185905., O...",04-14_00-00-48,"(120, 120)",10000,2338.8870,1.185905e+06,14309,...,"0_mxc_True_[4, 3, 1, 2, 5]_date_04-14_00-00-48...",10000,12938,13563,12421,12757,411,342,13,0
69,11343,True,"(4, 1, 3, 2, 5)","[UD:, 10000, Gen:, 2283.541, Fit:, 2.116421e+1...",04-14_15-42-47,"(120, 120)",10000,2283.5410,2.116421e+14,14387,...,"2_mxc_True_[4, 1, 3, 2, 5]_date_04-14_15-42-47...",10000,13764,12981,11442,12922,11911,346,154,2
136,11307,True,"(3, 1, 2, 4, 5)","[UD:, 4000, Gen:, 1542.077, Fit:, 4.576376e+24...",04-13_21-41-21,"(120, 120)",4000,1542.0770,4.576376e+243,14375,...,"0_mxc_True_[3, 1, 2, 4, 5]_date_04-13_21-41-21...",4000,12621,12923,66,12904,40,381,36,10871
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
165,0,True,"(1, 2, 3, 4, 2)","[UD:, 10000, Gen:, 2639.271, Fit:, 14877.09, O...",04-13_16-03-43,"(120, 120)",10000,2639.2710,1.487709e+04,14377,...,"0_mxc_True_[1, 2, 3, 4, 2]_date_04-13_16-03-43...",10000,12937,12935,12470,12633,11669,13434,11356,0
44,0,False,"(3, 2, 1, 4, 5)","[UD:, 10000, Gen:, 2510.594, Fit:, 1.596592e+1...",04-15_02-31-58,"(120, 120)",10000,2510.5940,1.596592e+136,14043,...,"3_mxc_False_[3, 2, 1, 4, 5]_date_04-15_02-31-5...",10000,1294,13010,705,12304,2,602,0,0
167,0,False,"(4, 2, 3, 1, 5)","[UD:, 10000, Gen:, 3499.213, Fit:, 4.977952e+1...",04-14_16-34-43,"(120, 120)",10000,3499.2130,4.977952e+116,14174,...,"2_mxc_False_[4, 2, 3, 1, 5]_date_04-14_16-34-4...",10000,14061,14070,203,2621,10405,46,11,0
168,0,False,"(1, 2, 3, 4, 6)","[UD:, 3100, Gen:, 195.4073, Fit:, 1.604692e+23...",04-14_17-42-12,"(120, 120)",3100,195.4073,1.604692e+233,14379,...,"3_mxc_False_[1, 2, 3, 4, 6]_date_04-14_17-42-1...",3100,914,1901,13,1580,988,1145,1380,0
157,0,False,"(1, 4, 3, 2, 5)","[UD:, 1100, Gen:, 264.0591, Fit:, 2.070931e+25...",04-14_03-42-39,"(120, 120)",1100,264.0591,2.070931e+258,11613,...,"1_mxc_False_[1, 4, 3, 2, 5]_date_04-14_03-42-3...",1100,765,737,459,4368,3718,128,2130,0

In [96]:
cleaned_df = sorted_EQU_df[sorted_EQU_df['Last_UD'] == 10000]
display(cleaned_df)

,Equals,max_count,values,last_line_string,experiment_start_time_string,xy_values,Last_UD,Gen,Fit,Orgs,...,filename,Update,Not,Nand,And,OrNot,Or,AndNot,Nor,Xor
305,12723,True,"(4, 1, 2, 3, 5)","[UD:, 10000, Gen:, 2169.567, Fit:, 5.271931e+2...",04-14_15-15-07,"(120, 120)",10000,2169.5670,5.271931e+27,14260,...,"2_mxc_True_[4, 1, 2, 3, 5]_date_04-14_15-15-07...",10000,13532,13302,649,13460,13100,5681,11592,12445
20,11855,True,"(4, 3, 1, 2, 5)","[UD:, 10000, Gen:, 2338.887, Fit:, 1185905., O...",04-14_00-00-48,"(120, 120)",10000,2338.8870,1.185905e+06,14309,...,"0_mxc_True_[4, 3, 1, 2, 5]_date_04-14_00-00-48...",10000,12938,13563,12421,12757,411,342,13,0
69,11343,True,"(4, 1, 3, 2, 5)","[UD:, 10000, Gen:, 2283.541, Fit:, 2.116421e+1...",04-14_15-42-47,"(120, 120)",10000,2283.5410,2.116421e+14,14387,...,"2_mxc_True_[4, 1, 3, 2, 5]_date_04-14_15-42-47...",10000,13764,12981,11442,12922,11911,346,154,2
202,11215,True,"(1, 3, 4, 2, 5)","[UD:, 10000, Gen:, 1629.322, Fit:, 2.024988e+0...",04-15_07-26-45,"(120, 120)",10000,1629.3220,2.024988e+09,14359,...,"4_mxc_True_[1, 3, 4, 2, 5]_date_04-15_07-26-45...",10000,12706,4405,12312,12502,11763,12499,20,1
35,11050,True,"(1, 2, 3, 4, 4)","[UD:, 10000, Gen:, 2484.113, Fit:, 3.903534e+0...",04-14_17-44-27,"(120, 120)",10000,2484.1130,3.903534e+09,14350,...,"3_mxc_True_[1, 2, 3, 4, 4]_date_04-14_17-44-27...",10000,13089,13119,263,12284,12211,11323,10956,38
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45,0,False,"(3, 2, 1, 4, 5)","[UD:, 10000, Gen:, 749.8986, Fit:, 4.651467e+1...",04-14_14-11-05,"(120, 120)",10000,749.8986,4.651467e+166,9318,...,"2_mxc_False_[3, 2, 1, 4, 5]_date_04-14_14-11-0...",10000,3391,37,0,4,0,0,0,0
164,0,True,"(2, 4, 3, 1, 5)","[UD:, 10000, Gen:, 2037.453, Fit:, 97287.39, O...",04-14_05-04-15,"(120, 120)",10000,2037.4530,9.728739e+04,14379,...,"1_mxc_True_[2, 4, 3, 1, 5]_date_04-14_05-04-15...",10000,13531,13261,11306,12894,12395,12767,11,9983
165,0,True,"(1, 2, 3, 4, 2)","[UD:, 10000, Gen:, 2639.271, Fit:, 14877.09, O...",04-13_16-03-43,"(120, 120)",10000,2639.2710,1.487709e+04,14377,...,"0_mxc_True_[1, 2, 3, 4, 2]_date_04-13_16-03-43...",10000,12937,12935,12470,12633,11669,13434,11356,0
44,0,False,"(3, 2, 1, 4, 5)","[UD:, 10000, Gen:, 2510.594, Fit:, 1.596592e+1...",04-15_02-31-58,"(120, 120)",10000,2510.5940,1.596592e+136,14043,...,"3_mxc_False_[3, 2, 1, 4, 5]_date_04-15_02-31-5...",10000,1294,13010,705,12304,2,602,0,0
167,0,False,"(4, 2, 3, 1, 5)","[UD:, 10000, Gen:, 3499.213, Fit:, 4.977952e+1...",04-14_16-34-43,"(120, 120)",10000,3499.2130,4.977952e+116,14174,...,"2_mxc_False_[4, 2, 3, 1, 5]_date_04-14_16-34-4...",10000,14061,14070,203,2621,10405,46,11,0

In [97]:
# cleaned_df[cleaned_df["max_count"]].describe().to_latex(index=False)
d1 = cleaned_df[cleaned_df["max_count"]]
d1 = d1[["Equals", "Fit"]]
d1 = d1.describe()
d1 = d1.drop(["count", "std"])
print(d1.to_latex(index=True))

\begin{tabular}{lrr}
\toprule
{} &        Equals &            Fit \\
\midrule
mean &   2793.289256 &  3.280936e+296 \\
min  &      0.000000 &   6.751146e+01 \\
25\%  &      0.000000 &   1.508415e+04 \\
50\%  &      0.000000 &   6.047860e+04 \\
75\%  &   5402.000000 &   2.889303e+07 \\
max  &  12723.000000 &  3.969932e+298 \\
\bottomrule
\end{tabular}

/var/folders/nk/6df909tn2f726qntp17fzj600000gn/T/ipykernel_40292/2916242337.py:6: FutureWarning: In future versions `DataFrame.to_latex` is expected to utilise the base implementation of `Styler.to_latex` for formatting and rendering. The arguments signature may therefore change. It is recommended instead to use `DataFrame.style.to_latex` which also contains additional functionality.
  print(d1.to_latex(index=True))

In [98]:
# display(cleaned_df[~cleaned_df["max_count"]].describe())
# cleaned_df[cleaned_df["max_count"]].describe().to_latex(index=False)
d1 = cleaned_df[~cleaned_df["max_count"]]
d1 = d1[["Equals", "Fit", "filename"]]
d1 = d1.describe()
d1 = d1.drop(["count", "std"])
print(d1.to_latex(index=True))

\begin{tabular}{lrr}
\toprule
{} &    Equals &            Fit \\
\midrule
mean &  0.238095 &  3.219152e+292 \\
min  &  0.000000 &   8.355300e+05 \\
25\%  &  0.000000 &   2.285031e+72 \\
50\%  &  0.000000 &  2.948822e+119 \\
75\%  &  0.000000 &  8.376668e+164 \\
max  &  6.000000 &  1.352044e+294 \\
\bottomrule
\end{tabular}

/var/folders/nk/6df909tn2f726qntp17fzj600000gn/T/ipykernel_40292/652201068.py:7: FutureWarning: In future versions `DataFrame.to_latex` is expected to utilise the base implementation of `Styler.to_latex` for formatting and rendering. The arguments signature may therefore change. It is recommended instead to use `DataFrame.style.to_latex` which also contains additional functionality.
  print(d1.to_latex(index=True))

In [99]:
cleaned_df = cleaned_df[["values", "max_count", "Equals", "Fit", "index", "filename"]]

In [100]:
diff_vals_df = cleaned_df.sort_values("values")

In [101]:
print(diff_vals_df.to_latex(index=False))

\begin{tabular}{llrrrl}
\toprule
         values &  max\_count &  Equals &           Fit &  index &                                           filename \\
\midrule
(1, 2, 3, 4, 1) &       True &       0 &  1.572282e+04 &      5 & 5\_mxc\_True\_[1, 2, 3, 4, 1]\_date\_04-15\_10-38-25\_... \\
(1, 2, 3, 4, 1) &       True &       0 &  9.568449e+03 &      3 & 3\_mxc\_True\_[1, 2, 3, 4, 1]\_date\_04-14\_21-09-37\_... \\
(1, 2, 3, 4, 1) &       True &       0 &  3.881085e+03 &      1 & 1\_mxc\_True\_[1, 2, 3, 4, 1]\_date\_04-14\_01-56-53\_... \\
(1, 2, 3, 4, 1) &       True &       0 &  3.653363e+03 &      2 & 2\_mxc\_True\_[1, 2, 3, 4, 1]\_date\_04-14\_09-01-14\_... \\
(1, 2, 3, 4, 1) &       True &       0 &  4.515025e+03 &      4 & 4\_mxc\_True\_[1, 2, 3, 4, 1]\_date\_04-15\_06-26-03\_... \\
(1, 2, 3, 4, 1) &      False &       0 &  9.591164e+12 &      5 & 5\_mxc\_False\_[1, 2, 3, 4, 1]\_date\_04-15\_10-56-28... \\
(1, 2, 3, 4, 1) &       True &      19 &  1.712673e+04 &      0 & 0\_mxc\_True\_[1, 2, 3, 4, 1]\_date\_04-13\_16-25-48\_... \\
(1, 2, 3, 4, 2) &       True &       0 &  3.205441e+03 &      4 & 4\_mxc\_True\_[1, 2, 3, 4, 2]\_date\_04-15\_06-08-55\_... \\
(1, 2, 3, 4, 2) &       True &       0 &  1.602652e+04 &      2 & 2\_mxc\_True\_[1, 2, 3, 4, 2]\_date\_04-14\_08-42-30\_... \\
(1, 2, 3, 4, 2) &       True &       2 &  1.533196e+04 &      1 & 1\_mxc\_True\_[1, 2, 3, 4, 2]\_date\_04-14\_01-37-42\_... \\
(1, 2, 3, 4, 2) &       True &    8806 &  9.394750e+72 &      3 & 3\_mxc\_True\_[1, 2, 3, 4, 2]\_date\_04-14\_20-54-10\_... \\
(1, 2, 3, 4, 2) &       True &       0 &  3.826289e+03 &      5 & 5\_mxc\_True\_[1, 2, 3, 4, 2]\_date\_04-15\_10-18-06\_... \\
(1, 2, 3, 4, 2) &       True &       0 &  1.487709e+04 &      0 & 0\_mxc\_True\_[1, 2, 3, 4, 2]\_date\_04-13\_16-03-43\_... \\
(1, 2, 3, 4, 3) &       True &   10419 &  8.829428e+21 &      0 & 0\_mxc\_True\_[1, 2, 3, 4, 3]\_date\_04-13\_15-39-28\_... \\
(1, 2, 3, 4, 3) &       True &    2207 & 3.969932e+298 &      4 & 4\_mxc\_True\_[1, 2, 3, 4, 3]\_date\_04-15\_05-45-58\_... \\
(1, 2, 3, 4, 3) &       True &       0 &  3.950506e+03 &      2 & 2\_mxc\_True\_[1, 2, 3, 4, 3]\_date\_04-14\_08-13-03\_... \\
(1, 2, 3, 4, 3) &       True &       0 &  1.415521e+04 &      1 & 1\_mxc\_True\_[1, 2, 3, 4, 3]\_date\_04-14\_01-22-04\_... \\
(1, 2, 3, 4, 3) &      False &       0 & 3.754598e+177 &      0 & 0\_mxc\_False\_[1, 2, 3, 4, 3]\_date\_04-13\_15-54-35... \\
(1, 2, 3, 4, 3) &      False &       0 & 3.019758e+282 &      2 & 2\_mxc\_False\_[1, 2, 3, 4, 3]\_date\_04-14\_08-28-00... \\
(1, 2, 3, 4, 3) &       True &    8441 &  2.891149e+71 &      3 & 3\_mxc\_True\_[1, 2, 3, 4, 3]\_date\_04-14\_20-38-25\_... \\
(1, 2, 3, 4, 3) &      False &       0 & 1.704421e+157 &      4 & 4\_mxc\_False\_[1, 2, 3, 4, 3]\_date\_04-15\_06-01-11... \\
(1, 2, 3, 4, 3) &       True &    7222 &  1.930860e+05 &      5 & 5\_mxc\_True\_[1, 2, 3, 4, 3]\_date\_04-15\_10-03-40\_... \\
(1, 2, 3, 4, 4) &       True &   10681 &  2.889303e+07 &      4 & 4\_mxc\_True\_[1, 2, 3, 4, 4]\_date\_04-15\_05-22-26\_... \\
(1, 2, 3, 4, 4) &       True &    2057 &  1.103311e+34 &      2 & 2\_mxc\_True\_[1, 2, 3, 4, 4]\_date\_04-14\_08-02-17\_... \\
(1, 2, 3, 4, 4) &       True &       1 &  1.006989e+05 &      1 & 1\_mxc\_True\_[1, 2, 3, 4, 4]\_date\_04-14\_00-52-25\_... \\
(1, 2, 3, 4, 4) &      False &       0 & 1.508958e+135 &      1 & 1\_mxc\_False\_[1, 2, 3, 4, 4]\_date\_04-14\_01-08-45... \\
(1, 2, 3, 4, 4) &       True &       0 &  2.488451e+04 &      0 & 0\_mxc\_True\_[1, 2, 3, 4, 4]\_date\_04-13\_15-19-26\_... \\
(1, 2, 3, 4, 4) &       True &   11050 &  3.903534e+09 &      3 & 3\_mxc\_True\_[1, 2, 3, 4, 4]\_date\_04-14\_17-44-27\_... \\
(1, 2, 3, 4, 4) &      False &       0 & 2.082889e+199 &      4 & 4\_mxc\_False\_[1, 2, 3, 4, 4]\_date\_04-15\_05-37-26... \\
(1, 2, 3, 4, 4) &      False &       0 &  9.112436e+72 &      3 & 3\_mxc\_False\_[1, 2, 3, 4, 4]\_date\_04-14\_20-22-47... \\
(1, 2, 3, 4, 4) &       True &       0 &  1.686523e+04 &      5 & 5\_mxc\_True\_[1, 2, 3, 4, 4]\_date\_04-15\_09-44-50\_... \\
(1, 2, 3, 4, 5) &       True &       0 &  4.635980e+03 &      2 & 2\_mxc\_True\_[1, 2, 3, 4, 5]\_date\_04-14\_09-26-28\_... \\
(1, 2, 3, 4, 5) &      False &       0 &  1.932565e+40 &      2 & 2\_mxc\_False\_[1, 2, 3, 4, 5]\_date\_04-14\_09-42-13... \\
(1, 2, 3, 4, 5) &      False &       0 &  2.603604e+75 &      0 & 0\_mxc\_False\_[1, 2, 3, 4, 5]\_date\_04-13\_16-59-10... \\
(1, 2, 3, 4, 5) &       True &       0 &  1.443128e+04 &      3 & 3\_mxc\_True\_[1, 2, 3, 4, 5]\_date\_04-14\_21-26-56\_... \\
(1, 2, 3, 4, 5) &       True &    9916 &  6.450240e+04 &      0 & 0\_mxc\_True\_[1, 2, 3, 4, 5]\_date\_04-13\_16-44-01\_... \\
(1, 2, 3, 4, 5) &      False &       0 & 3.183076e+118 &      5 & 5\_mxc\_False\_[1, 2, 3, 4, 5]\_date\_04-15\_11-20-36... \\
(1, 2, 3, 4, 5) &       True &    3362 & 1.001721e+285 &      5 & 5\_mxc\_True\_[1, 2, 3, 4, 5]\_date\_04-15\_11-04-38\_... \\
(1, 2, 3, 4, 5) &      False &       0 &  5.971620e+28 &      3 & 3\_mxc\_False\_[1, 2, 3, 4, 5]\_date\_04-14\_21-42-20... \\
(1, 2, 3, 4, 5) &       True &       0 &  1.595359e+04 &      4 & 4\_mxc\_True\_[1, 2, 3, 4, 5]\_date\_04-15\_06-42-57\_... \\
(1, 2, 3, 4, 6) &      False &       1 & 2.021980e+271 &      1 & 1\_mxc\_False\_[1, 2, 3, 4, 6]\_date\_04-14\_00-38-55... \\
(1, 2, 3, 4, 6) &       True &   10301 &  6.059081e+82 &      3 & 3\_mxc\_True\_[1, 2, 3, 4, 6]\_date\_04-14\_17-29-09\_... \\
(1, 2, 3, 4, 6) &      False &       0 & 1.715377e+123 &      4 & 4\_mxc\_False\_[1, 2, 3, 4, 6]\_date\_04-15\_05-14-25... \\
(1, 2, 3, 4, 6) &       True &    3641 & 4.369271e+110 &      4 & 4\_mxc\_True\_[1, 2, 3, 4, 6]\_date\_04-15\_05-00-46\_... \\
(1, 2, 3, 4, 6) &       True &    3722 &  1.336144e+11 &      0 & 0\_mxc\_True\_[1, 2, 3, 4, 6]\_date\_04-13\_15-01-31\_... \\
(1, 2, 3, 4, 6) &      False &       0 & 1.073964e+158 &      0 & 0\_mxc\_False\_[1, 2, 3, 4, 6]\_date\_04-13\_15-10-40... \\
(1, 2, 4, 3, 5) &       True &       0 &  1.046582e+03 &      1 & 1\_mxc\_True\_[1, 2, 4, 3, 5]\_date\_04-14\_02-22-04\_... \\
(1, 2, 4, 3, 5) &       True &       0 &  3.267665e+04 &      0 & 0\_mxc\_True\_[1, 2, 4, 3, 5]\_date\_04-13\_17-01-37\_... \\
(1, 2, 4, 3, 5) &      False &       0 &  8.355300e+05 &      3 & 3\_mxc\_False\_[1, 2, 4, 3, 5]\_date\_04-14\_22-26-54... \\
(1, 2, 4, 3, 5) &      False &       2 &  7.271464e+42 &      1 & 1\_mxc\_False\_[1, 2, 4, 3, 5]\_date\_04-14\_02-37-03... \\
(1, 2, 4, 3, 5) &       True &    1714 &  1.711896e+06 &      5 & 5\_mxc\_True\_[1, 2, 4, 3, 5]\_date\_04-15\_11-29-59\_... \\
(1, 2, 4, 3, 5) &       True &    9238 & 6.837520e+215 &      3 & 3\_mxc\_True\_[1, 2, 4, 3, 5]\_date\_04-14\_21-50-58\_... \\
(1, 2, 4, 3, 5) &       True &       0 &  3.198911e+04 &      2 & 2\_mxc\_True\_[1, 2, 4, 3, 5]\_date\_04-14\_09-51-23\_... \\
(1, 3, 2, 4, 5) &       True &       0 &  1.197819e+04 &      5 & 5\_mxc\_True\_[1, 3, 2, 4, 5]\_date\_04-15\_11-52-41\_... \\
(1, 3, 2, 4, 5) &       True &       0 &  1.326621e+04 &      1 & 1\_mxc\_True\_[1, 3, 2, 4, 5]\_date\_04-14\_02-47-35\_... \\
(1, 3, 2, 4, 5) &       True &       0 &  1.572743e+02 &      4 & 4\_mxc\_True\_[1, 3, 2, 4, 5]\_date\_04-15\_07-11-34\_... \\
(1, 3, 2, 4, 5) &       True &       0 &  4.339925e+03 &      3 & 3\_mxc\_True\_[1, 3, 2, 4, 5]\_date\_04-14\_22-34-21\_... \\
(1, 3, 4, 2, 5) &       True &    4880 &  2.333938e+05 &      2 & 2\_mxc\_True\_[1, 3, 4, 2, 5]\_date\_04-14\_10-13-41\_... \\
(1, 3, 4, 2, 5) &       True &       0 &  1.115830e+04 &      0 & 0\_mxc\_True\_[1, 3, 4, 2, 5]\_date\_04-13\_17-24-37\_... \\
(1, 3, 4, 2, 5) &       True &       0 &  2.969671e+04 &      1 & 1\_mxc\_True\_[1, 3, 4, 2, 5]\_date\_04-14\_03-02-57\_... \\
(1, 3, 4, 2, 5) &      False &       0 &  3.954544e+99 &      0 & 0\_mxc\_False\_[1, 3, 4, 2, 5]\_date\_04-13\_17-38-50... \\
(1, 3, 4, 2, 5) &       True &   11215 &  2.024988e+09 &      4 & 4\_mxc\_True\_[1, 3, 4, 2, 5]\_date\_04-15\_07-26-45\_... \\
(1, 3, 4, 2, 5) &      False &       0 & 4.911400e+268 &      3 & 3\_mxc\_False\_[1, 3, 4, 2, 5]\_date\_04-14\_23-16-04... \\
(1, 3, 4, 2, 5) &       True &       8 &  6.810362e+04 &      5 & 5\_mxc\_True\_[1, 3, 4, 2, 5]\_date\_04-15\_12-09-59\_... \\
(1, 4, 2, 3, 5) &       True &    2485 &  2.862199e+04 &      3 & 3\_mxc\_True\_[1, 4, 2, 3, 5]\_date\_04-14\_23-28-29\_... \\
(1, 4, 2, 3, 5) &       True &       0 &  9.830949e+03 &      1 & 1\_mxc\_True\_[1, 4, 2, 3, 5]\_date\_04-14\_03-18-04\_... \\
(1, 4, 2, 3, 5) &       True &       0 &  7.404245e+03 &      4 & 4\_mxc\_True\_[1, 4, 2, 3, 5]\_date\_04-15\_07-38-25\_... \\
(1, 4, 2, 3, 5) &      False &       0 &  3.357075e+94 &      2 & 2\_mxc\_False\_[1, 4, 2, 3, 5]\_date\_04-14\_10-35-02... \\
(1, 4, 2, 3, 5) &       True &    9525 &  1.939449e+27 &      0 & 0\_mxc\_True\_[1, 4, 2, 3, 5]\_date\_04-13\_18-17-53\_... \\
(1, 4, 2, 3, 5) &      False &       0 & 1.625998e+166 &      4 & 4\_mxc\_False\_[1, 4, 2, 3, 5]\_date\_04-15\_07-53-50... \\
(1, 4, 3, 2, 5) &       True &    2669 &  1.500274e+06 &      4 & 4\_mxc\_True\_[1, 4, 3, 2, 5]\_date\_04-15\_08-00-28\_... \\
(1, 4, 3, 2, 5) &       True &    3460 & 2.399133e+218 &      5 & 5\_mxc\_True\_[1, 4, 3, 2, 5]\_date\_04-15\_12-31-21\_... \\
(1, 4, 3, 2, 5) &       True &    2345 &  1.257333e+05 &      3 & 3\_mxc\_True\_[1, 4, 3, 2, 5]\_date\_04-14\_23-44-04\_... \\
(1, 4, 3, 2, 5) &      False &       0 & 1.466622e+130 &      0 & 0\_mxc\_False\_[1, 4, 3, 2, 5]\_date\_04-13\_19-03-03... \\
(1, 4, 3, 2, 5) &       True &    8365 & 5.205517e+124 &      1 & 1\_mxc\_True\_[1, 4, 3, 2, 5]\_date\_04-14\_03-32-51\_... \\
(1, 4, 3, 2, 5) &      False &       0 &  5.934237e+79 &      4 & 4\_mxc\_False\_[1, 4, 3, 2, 5]\_date\_04-15\_08-15-58... \\
(1, 4, 3, 2, 5) &       True &       0 &  1.183484e+04 &      2 & 2\_mxc\_True\_[1, 4, 3, 2, 5]\_date\_04-14\_10-47-40\_... \\
(2, 1, 3, 4, 5) &       True &       0 &  6.751146e+01 &      0 & 0\_mxc\_True\_[2, 1, 3, 4, 5]\_date\_04-13\_19-29-28\_... \\
(2, 1, 3, 4, 5) &       True &       0 &  1.508415e+04 &      2 & 2\_mxc\_True\_[2, 1, 3, 4, 5]\_date\_04-14\_11-05-24\_... \\
(2, 1, 3, 4, 5) &       True &    5402 &  1.121031e+06 &      5 & 5\_mxc\_True\_[2, 1, 3, 4, 5]\_date\_04-15\_12-49-57\_... \\
(2, 1, 3, 4, 5) &      False &       0 & 7.043458e+116 &      0 & 0\_mxc\_False\_[2, 1, 3, 4, 5]\_date\_04-13\_19-45-47... \\
(2, 1, 3, 4, 5) &       True &    7839 &  1.455857e+10 &      1 & 1\_mxc\_True\_[2, 1, 3, 4, 5]\_date\_04-14\_03-43-03\_... \\
(2, 1, 3, 4, 5) &       True &    2744 &  4.669574e+78 &      4 & 4\_mxc\_True\_[2, 1, 3, 4, 5]\_date\_04-15\_08-42-33\_... \\
(2, 1, 4, 3, 5) &       True &    9899 &  3.364163e+05 &      3 & 3\_mxc\_True\_[2, 1, 4, 3, 5]\_date\_04-15\_00-20-27\_... \\
(2, 1, 4, 3, 5) &       True &    6435 &  4.155781e+33 &      2 & 2\_mxc\_True\_[2, 1, 4, 3, 5]\_date\_04-14\_11-30-49\_... \\
(2, 1, 4, 3, 5) &       True &       0 &  1.636707e+04 &      1 & 1\_mxc\_True\_[2, 1, 4, 3, 5]\_date\_04-14\_03-56-46\_... \\
(2, 1, 4, 3, 5) &       True &       0 &  1.676264e+04 &      0 & 0\_mxc\_True\_[2, 1, 4, 3, 5]\_date\_04-13\_20-04-19\_... \\
(2, 1, 4, 3, 5) &      False &       0 &  1.174972e+45 &      3 & 3\_mxc\_False\_[2, 1, 4, 3, 5]\_date\_04-15\_00-34-45... \\
(2, 3, 1, 4, 5) &      False &       1 &  7.995238e+90 &      1 & 1\_mxc\_False\_[2, 3, 1, 4, 5]\_date\_04-14\_04-26-24... \\
(2, 3, 1, 4, 5) &       True &       0 &  8.996090e+03 &      5 & 5\_mxc\_True\_[2, 3, 1, 4, 5]\_date\_04-15\_13-26-10\_... \\
(2, 3, 1, 4, 5) &      False &       0 & 9.692172e+180 &      2 & 2\_mxc\_False\_[2, 3, 1, 4, 5]\_date\_04-14\_12-04-29... \\
(2, 3, 1, 4, 5) &       True &       0 &  1.101883e+04 &      3 & 3\_mxc\_True\_[2, 3, 1, 4, 5]\_date\_04-15\_00-44-10\_... \\
(2, 3, 1, 4, 5) &       True &   10685 &  5.964605e+55 &      1 & 1\_mxc\_True\_[2, 3, 1, 4, 5]\_date\_04-14\_04-12-06\_... \\
(2, 3, 1, 4, 5) &       True &       0 &  6.659522e+03 &      2 & 2\_mxc\_True\_[2, 3, 1, 4, 5]\_date\_04-14\_11-47-58\_... \\
(2, 3, 4, 1, 5) &      False &       0 &  9.685311e+40 &      2 & 2\_mxc\_False\_[2, 3, 4, 1, 5]\_date\_04-14\_12-30-32... \\
(2, 3, 4, 1, 5) &       True &       0 &  4.648417e+04 &      3 & 3\_mxc\_True\_[2, 3, 4, 1, 5]\_date\_04-15\_01-00-16\_... \\
(2, 3, 4, 1, 5) &       True &       0 &  8.302947e+03 &      2 & 2\_mxc\_True\_[2, 3, 4, 1, 5]\_date\_04-14\_12-15-51\_... \\
(2, 3, 4, 1, 5) &       True &       0 &  7.649753e+04 &      1 & 1\_mxc\_True\_[2, 3, 4, 1, 5]\_date\_04-14\_04-33-15\_... \\
(2, 3, 4, 1, 5) &       True &       0 &  1.942675e+04 &      5 & 5\_mxc\_True\_[2, 3, 4, 1, 5]\_date\_04-15\_13-43-25\_... \\
(2, 3, 4, 1, 5) &       True &       0 &  4.985571e+04 &      0 & 0\_mxc\_True\_[2, 3, 4, 1, 5]\_date\_04-13\_20-57-59\_... \\
(2, 4, 1, 3, 5) &      False &       6 & 1.116889e+165 &      3 & 3\_mxc\_False\_[2, 4, 1, 3, 5]\_date\_04-15\_01-33-31... \\
(2, 4, 1, 3, 5) &      False &       0 & 4.517058e+123 &      2 & 2\_mxc\_False\_[2, 4, 1, 3, 5]\_date\_04-14\_12-47-23... \\
(2, 4, 1, 3, 5) &       True &   10528 &  3.070970e+05 &      1 & 1\_mxc\_True\_[2, 4, 1, 3, 5]\_date\_04-14\_04-49-08\_... \\
(2, 4, 1, 3, 5) &       True &    2893 &  6.151615e+13 &      0 & 0\_mxc\_True\_[2, 4, 1, 3, 5]\_date\_04-13\_21-14-02\_... \\
(2, 4, 1, 3, 5) &       True &       0 &  1.492760e+05 &      3 & 3\_mxc\_True\_[2, 4, 1, 3, 5]\_date\_04-15\_01-18-22\_... \\
(2, 4, 3, 1, 5) &       True &       0 &  9.728739e+04 &      1 & 1\_mxc\_True\_[2, 4, 3, 1, 5]\_date\_04-14\_05-04-15\_... \\
(2, 4, 3, 1, 5) &      False &       0 & 1.352044e+294 &      5 & 5\_mxc\_False\_[2, 4, 3, 1, 5]\_date\_04-15\_14-30-30... \\
(2, 4, 3, 1, 5) &       True &    9077 & 2.818841e+191 &      0 & 0\_mxc\_True\_[2, 4, 3, 1, 5]\_date\_04-13\_21-28-23\_... \\
(2, 4, 3, 1, 5) &       True &       0 &  6.910149e+04 &      5 & 5\_mxc\_True\_[2, 4, 3, 1, 5]\_date\_04-15\_14-13-38\_... \\
(2, 4, 3, 1, 5) &       True &       0 &  6.755006e+04 &      3 & 3\_mxc\_True\_[2, 4, 3, 1, 5]\_date\_04-15\_01-40-49\_... \\
(2, 4, 3, 1, 5) &       True &       0 &  6.196807e+04 &      2 & 2\_mxc\_True\_[2, 4, 3, 1, 5]\_date\_04-14\_12-59-46\_... \\
(3, 1, 2, 4, 5) &      False &       0 &  4.261628e+21 &      1 & 1\_mxc\_False\_[3, 1, 2, 4, 5]\_date\_04-14\_05-26-29... \\
(3, 1, 2, 4, 5) &       True &    8379 &  8.500257e+10 &      5 & 5\_mxc\_True\_[3, 1, 2, 4, 5]\_date\_04-15\_14-45-11\_... \\
(3, 1, 4, 2, 5) &       True &    5277 &  5.798977e+58 &      1 & 1\_mxc\_True\_[3, 1, 4, 2, 5]\_date\_04-14\_05-31-26\_... \\
(3, 1, 4, 2, 5) &       True &       0 &  3.900065e+04 &      2 & 2\_mxc\_True\_[3, 1, 4, 2, 5]\_date\_04-14\_13-33-19\_... \\
(3, 1, 4, 2, 5) &       True &       0 &  1.003996e+04 &      3 & 3\_mxc\_True\_[3, 1, 4, 2, 5]\_date\_04-15\_02-07-01\_... \\
(3, 1, 4, 2, 5) &       True &       0 &  3.027777e+04 &      0 & 0\_mxc\_True\_[3, 1, 4, 2, 5]\_date\_04-13\_21-46-48\_... \\
(3, 1, 4, 2, 5) &       True &    7657 &  3.236722e+23 &      5 & 5\_mxc\_True\_[3, 1, 4, 2, 5]\_date\_04-15\_14-58-47\_... \\
(3, 2, 1, 4, 5) &       True &    6985 &  1.094650e+05 &      2 & 2\_mxc\_True\_[3, 2, 1, 4, 5]\_date\_04-14\_13-55-07\_... \\
(3, 2, 1, 4, 5) &       True &   10881 &  1.444145e+09 &      1 & 1\_mxc\_True\_[3, 2, 1, 4, 5]\_date\_04-14\_05-44-38\_... \\
(3, 2, 1, 4, 5) &      False &       0 & 2.540483e+157 &      5 & 5\_mxc\_False\_[3, 2, 1, 4, 5]\_date\_04-15\_15-29-54... \\
(3, 2, 1, 4, 5) &       True &       8 &  4.698796e+04 &      5 & 5\_mxc\_True\_[3, 2, 1, 4, 5]\_date\_04-15\_15-14-02\_... \\
(3, 2, 1, 4, 5) &      False &       0 & 1.596592e+136 &      3 & 3\_mxc\_False\_[3, 2, 1, 4, 5]\_date\_04-15\_02-31-58... \\
(3, 2, 1, 4, 5) &      False &       0 & 4.651467e+166 &      2 & 2\_mxc\_False\_[3, 2, 1, 4, 5]\_date\_04-14\_14-11-05... \\
(3, 2, 4, 1, 5) &       True &   10621 &  1.745899e+06 &      3 & 3\_mxc\_True\_[3, 2, 4, 1, 5]\_date\_04-15\_02-44-08\_... \\
(3, 2, 4, 1, 5) &       True &    8123 & 1.808241e+171 &      0 & 0\_mxc\_True\_[3, 2, 4, 1, 5]\_date\_04-13\_22-16-15\_... \\
(3, 2, 4, 1, 5) &       True &       0 &  8.570287e+04 &      2 & 2\_mxc\_True\_[3, 2, 4, 1, 5]\_date\_04-14\_14-15-42\_... \\
(3, 2, 4, 1, 5) &      False &       0 & 5.579337e+119 &      1 & 1\_mxc\_False\_[3, 2, 4, 1, 5]\_date\_04-14\_06-14-08... \\
(3, 2, 4, 1, 5) &       True &       0 &  7.514589e+04 &      5 & 5\_mxc\_True\_[3, 2, 4, 1, 5]\_date\_04-15\_15-44-43\_... \\
(3, 2, 4, 1, 5) &       True &   10856 & 5.582985e+139 &      1 & 1\_mxc\_True\_[3, 2, 4, 1, 5]\_date\_04-14\_05-59-34\_... \\
(3, 4, 1, 2, 5) &      False &       0 &  7.214520e+35 &      2 & 2\_mxc\_False\_[3, 4, 1, 2, 5]\_date\_04-14\_14-50-55... \\
(3, 4, 1, 2, 5) &       True &       0 &  1.657116e+04 &      3 & 3\_mxc\_True\_[3, 4, 1, 2, 5]\_date\_04-15\_03-00-08\_... \\
(3, 4, 1, 2, 5) &       True &       0 &  9.032465e+03 &      2 & 2\_mxc\_True\_[3, 4, 1, 2, 5]\_date\_04-14\_14-32-54\_... \\
(3, 4, 1, 2, 5) &       True &       0 &  2.729868e+04 &      0 & 0\_mxc\_True\_[3, 4, 1, 2, 5]\_date\_04-13\_22-33-40\_... \\
(3, 4, 1, 2, 5) &       True &       0 &  6.535882e+03 &      1 & 1\_mxc\_True\_[3, 4, 1, 2, 5]\_date\_04-14\_06-21-20\_... \\
(3, 4, 2, 1, 5) &       True &       0 &  6.047860e+04 &      3 & 3\_mxc\_True\_[3, 4, 2, 1, 5]\_date\_04-15\_03-15-45\_... \\
(3, 4, 2, 1, 5) &       True &       0 &  7.437747e+04 &      2 & 2\_mxc\_True\_[3, 4, 2, 1, 5]\_date\_04-14\_14-56-15\_... \\
(4, 1, 2, 3, 5) &       True &   12723 &  5.271931e+27 &      2 & 2\_mxc\_True\_[4, 1, 2, 3, 5]\_date\_04-14\_15-15-07\_... \\
(4, 1, 2, 3, 5) &      False &       0 &  1.775644e+93 &      2 & 2\_mxc\_False\_[4, 1, 2, 3, 5]\_date\_04-14\_15-33-46... \\
(4, 1, 2, 3, 5) &      False &       0 &  3.594581e+49 &      5 & 5\_mxc\_False\_[4, 1, 2, 3, 5]\_date\_04-15\_16-30-40... \\
(4, 1, 3, 2, 5) &       True &   11343 &  2.116421e+14 &      2 & 2\_mxc\_True\_[4, 1, 3, 2, 5]\_date\_04-14\_15-42-47\_... \\
(4, 1, 3, 2, 5) &       True &       0 &  1.089552e+04 &      1 & 1\_mxc\_True\_[4, 1, 3, 2, 5]\_date\_04-14\_07-00-47\_... \\
(4, 1, 3, 2, 5) &       True &       0 &  1.863701e+04 &      3 & 3\_mxc\_True\_[4, 1, 3, 2, 5]\_date\_04-15\_03-35-57\_... \\
(4, 1, 3, 2, 5) &       True &       0 &  3.690206e+04 &      0 & 0\_mxc\_True\_[4, 1, 3, 2, 5]\_date\_04-13\_23-15-42\_... \\
(4, 2, 1, 3, 5) &       True &       0 &  1.961998e+04 &      2 & 2\_mxc\_True\_[4, 2, 1, 3, 5]\_date\_04-14\_15-58-53\_... \\
(4, 2, 1, 3, 5) &       True &    9094 &  2.026143e+36 &      0 & 0\_mxc\_True\_[4, 2, 1, 3, 5]\_date\_04-13\_23-30-40\_... \\
(4, 2, 1, 3, 5) &       True &       0 &  1.139705e+04 &      3 & 3\_mxc\_True\_[4, 2, 1, 3, 5]\_date\_04-15\_03-52-15\_... \\
(4, 2, 1, 3, 5) &       True &       0 &  2.097163e+04 &      5 & 5\_mxc\_True\_[4, 2, 1, 3, 5]\_date\_04-15\_16-42-37\_... \\
(4, 2, 3, 1, 5) &       True &       0 &  1.893215e+04 &      2 & 2\_mxc\_True\_[4, 2, 3, 1, 5]\_date\_04-14\_16-17-13\_... \\
(4, 2, 3, 1, 5) &       True &   10928 &  2.399166e+05 &      5 & 5\_mxc\_True\_[4, 2, 3, 1, 5]\_date\_04-15\_17-00-30\_... \\
(4, 2, 3, 1, 5) &      False &       0 &  9.229126e+69 &      3 & 3\_mxc\_False\_[4, 2, 3, 1, 5]\_date\_04-15\_04-21-05... \\
(4, 2, 3, 1, 5) &       True &       3 &  6.315114e+04 &      3 & 3\_mxc\_True\_[4, 2, 3, 1, 5]\_date\_04-15\_04-06-42\_... \\
(4, 2, 3, 1, 5) &      False &       0 & 4.977952e+116 &      2 & 2\_mxc\_False\_[4, 2, 3, 1, 5]\_date\_04-14\_16-34-43... \\
(4, 2, 3, 1, 5) &       True &       0 &  1.676153e+04 &      0 & 0\_mxc\_True\_[4, 2, 3, 1, 5]\_date\_04-13\_23-42-20\_... \\
(4, 3, 1, 2, 5) &       True &       0 &  3.316339e+04 &      2 & 2\_mxc\_True\_[4, 3, 1, 2, 5]\_date\_04-14\_16-43-16\_... \\
(4, 3, 1, 2, 5) &      False &       0 & 1.032054e+137 &      0 & 0\_mxc\_False\_[4, 3, 1, 2, 5]\_date\_04-14\_00-15-28... \\

/var/folders/nk/6df909tn2f726qntp17fzj600000gn/T/ipykernel_40292/128294827.py:1: FutureWarning: In future versions `DataFrame.to_latex` is expected to utilise the base implementation of `Styler.to_latex` for formatting and rendering. The arguments signature may therefore change. It is recommended instead to use `DataFrame.style.to_latex` which also contains additional functionality.
  print(diff_vals_df.to_latex(index=False))

In [102]:
display(diff_vals_df)

,values,max_count,Equals,Fit,index,filename
75,"(1, 2, 3, 4, 1)",True,0,15722.820,5,"5_mxc_True_[1, 2, 3, 4, 1]_date_04-15_10-38-25..."
76,"(1, 2, 3, 4, 1)",True,0,9568.449,3,"3_mxc_True_[1, 2, 3, 4, 1]_date_04-14_21-09-37..."
39,"(1, 2, 3, 4, 1)",True,0,3881.085,1,"1_mxc_True_[1, 2, 3, 4, 1]_date_04-14_01-56-53..."
306,"(1, 2, 3, 4, 1)",True,0,3653.363,2,"2_mxc_True_[1, 2, 3, 4, 1]_date_04-14_09-01-14..."
222,"(1, 2, 3, 4, 1)",True,0,4515.025,4,"4_mxc_True_[1, 2, 3, 4, 1]_date_04-15_06-26-03..."
...,...,...,...,...,...,...
181,"(4, 3, 1, 2, 5)",True,0,45712.830,3,"3_mxc_True_[4, 3, 1, 2, 5]_date_04-15_04-29-04..."
184,"(4, 3, 2, 1, 5)",True,2,125423.800,0,"0_mxc_True_[4, 3, 2, 1, 5]_date_04-14_00-21-26..."
268,"(4, 3, 2, 1, 5)",True,0,95153.350,2,"2_mxc_True_[4, 3, 2, 1, 5]_date_04-14_17-11-02..."
177,"(4, 3, 2, 1, 5)",True,0,102221.400,1,"1_mxc_True_[4, 3, 2, 1, 5]_date_04-14_07-38-08..."
253,"(4, 3, 2, 1, 5)",True,0,65614.290,3,"3_mxc_True_[4, 3, 2, 1, 5]_date_04-15_04-44-48..."

In [103]:
fdf = diff_vals_df

In [104]:
gdf = diff_vals_df.groupby(["values", "max_count"]).mean()
gdf

                                 Equals            Fit     index
values          max_count
(1, 2, 3, 4, 1) False          0.000000   9.591164e+12  5.000000
                True           3.166667   9.077912e+03  2.500000
(1, 2, 3, 4, 2) True        1468.000000   1.565792e+72  2.500000
(1, 2, 3, 4, 3) False          0.000000  1.006586e+282  2.000000
                True        4714.833333  6.616553e+297  2.500000
(1, 2, 3, 4, 4) False          0.000000  6.942963e+198  2.666667
                True        3964.833333   1.838852e+33  2.500000
(1, 2, 3, 4, 5) False          0.000000  7.957690e+117  2.500000
                True        2655.600000  2.003442e+284  2.800000
(1, 2, 3, 4, 6) False          0.333333  6.739933e+270  1.666667
                True        5888.000000  1.456424e+110  2.333333
(1, 2, 4, 3, 5) False          1.000000   3.635732e+42  2.000000
                True        2190.400000  1.367504e+215  2.200000
(1, 3, 2, 4, 5) True           0.000000   7.435400e+03  3.250000
(1, 3, 4, 2, 5) False          0.000000  2.455700e+268  1.500000
                True        3220.600000   4.050661e+08  2.400000
(1, 4, 2, 3, 5) False          0.000000  8.129990e+165  3.000000
                True        3002.500000   4.848623e+26  2.000000
(1, 4, 3, 2, 5) False          0.000000  7.333110e+129  2.000000
                True        3367.800000  4.798266e+217  3.000000
(2, 1, 3, 4, 5) False          0.000000  7.043458e+116  0.000000
                True        3197.000000   9.339148e+77  2.400000
(2, 1, 4, 3, 5) False          0.000000   1.174972e+45  3.000000
                True        4083.500000   1.038945e+33  1.500000
(2, 3, 1, 4, 5) False          0.500000  4.846086e+180  1.500000
                True        2671.250000   1.491151e+55  2.750000
(2, 3, 4, 1, 5) False          0.000000   9.685311e+40  2.000000
                True           0.000000   4.011342e+04  2.200000
(2, 4, 1, 3, 5) False          3.000000  5.584445e+164  2.500000
                True        4473.666667   2.050538e+13  1.333333
(2, 4, 3, 1, 5) False          0.000000  1.352044e+294  5.000000
                True        1815.400000  5.637682e+190  2.200000
(3, 1, 2, 4, 5) False          0.000000   4.261628e+21  1.000000
                True        8379.000000   8.500257e+10  5.000000
(3, 1, 4, 2, 5) True        2586.800000   1.159795e+58  2.200000
(3, 2, 1, 4, 5) False          0.000000  1.550489e+166  3.333333
                True        5958.000000   4.814338e+08  2.666667
(3, 2, 4, 1, 5) False          0.000000  5.579337e+119  1.000000
                True        5920.000000  3.616482e+170  2.200000
(3, 4, 1, 2, 5) False          0.000000   7.214520e+35  2.000000
                True           0.000000   1.485955e+04  1.500000
(3, 4, 2, 1, 5) True           0.000000   6.742804e+04  2.500000
(4, 1, 2, 3, 5) False          0.000000   8.878220e+92  3.500000
                True       12723.000000   5.271931e+27  2.000000
(4, 1, 3, 2, 5) True        2835.750000   5.291053e+13  1.500000
(4, 2, 1, 3, 5) True        2273.500000   5.065357e+35  2.500000
(4, 2, 3, 1, 5) False          0.000000  2.488976e+116  2.500000
                True        2732.750000   8.469035e+04  2.500000
(4, 3, 1, 2, 5) False          0.000000  4.589406e+170  1.000000
                True        3951.666667   4.215937e+05  1.666667
(4, 3, 2, 1, 5) True           0.500000   9.710321e+04  1.500000

In [105]:
gdf = gdf.reset_index().sort_values("Equals")

In [106]:
gdf[gdf["max_count"] == False]

             values  max_count    Equals            Fit     index
0   (1, 2, 3, 4, 1)      False  0.000000   9.591164e+12  5.000000
26  (2, 3, 4, 1, 5)      False  0.000000   9.685311e+40  2.000000
20  (2, 1, 3, 4, 5)      False  0.000000  7.043458e+116  0.000000
18  (1, 4, 3, 2, 5)      False  0.000000  7.333110e+129  2.000000
30  (2, 4, 3, 1, 5)      False  0.000000  1.352044e+294  5.000000
16  (1, 4, 2, 3, 5)      False  0.000000  8.129990e+165  3.000000
32  (3, 1, 2, 4, 5)      False  0.000000   4.261628e+21  1.000000
14  (1, 3, 4, 2, 5)      False  0.000000  2.455700e+268  1.500000
35  (3, 2, 1, 4, 5)      False  0.000000  1.550489e+166  3.333333
37  (3, 2, 4, 1, 5)      False  0.000000  5.579337e+119  1.000000
39  (3, 4, 1, 2, 5)      False  0.000000   7.214520e+35  2.000000
7   (1, 2, 3, 4, 5)      False  0.000000  7.957690e+117  2.500000
5   (1, 2, 3, 4, 4)      False  0.000000  6.942963e+198  2.666667
42  (4, 1, 2, 3, 5)      False  0.000000   8.878220e+92  3.500000
3   (1, 2, 3, 4, 3)      False  0.000000  1.006586e+282  2.000000
46  (4, 2, 3, 1, 5)      False  0.000000  2.488976e+116  2.500000
48  (4, 3, 1, 2, 5)      False  0.000000  4.589406e+170  1.000000
22  (2, 1, 4, 3, 5)      False  0.000000   1.174972e+45  3.000000
9   (1, 2, 3, 4, 6)      False  0.333333  6.739933e+270  1.666667
24  (2, 3, 1, 4, 5)      False  0.500000  4.846086e+180  1.500000
11  (1, 2, 4, 3, 5)      False  1.000000   3.635732e+42  2.000000
28  (2, 4, 1, 3, 5)      False  3.000000  5.584445e+164  2.500000

In [107]:
gdf[gdf["max_count"] == True]

             values  max_count        Equals            Fit     index
27  (2, 3, 4, 1, 5)       True      0.000000   4.011342e+04  2.200000
13  (1, 3, 2, 4, 5)       True      0.000000   7.435400e+03  3.250000
40  (3, 4, 1, 2, 5)       True      0.000000   1.485955e+04  1.500000
41  (3, 4, 2, 1, 5)       True      0.000000   6.742804e+04  2.500000
50  (4, 3, 2, 1, 5)       True      0.500000   9.710321e+04  1.500000
1   (1, 2, 3, 4, 1)       True      3.166667   9.077912e+03  2.500000
2   (1, 2, 3, 4, 2)       True   1468.000000   1.565792e+72  2.500000
31  (2, 4, 3, 1, 5)       True   1815.400000  5.637682e+190  2.200000
12  (1, 2, 4, 3, 5)       True   2190.400000  1.367504e+215  2.200000
45  (4, 2, 1, 3, 5)       True   2273.500000   5.065357e+35  2.500000
34  (3, 1, 4, 2, 5)       True   2586.800000   1.159795e+58  2.200000
8   (1, 2, 3, 4, 5)       True   2655.600000  2.003442e+284  2.800000
25  (2, 3, 1, 4, 5)       True   2671.250000   1.491151e+55  2.750000
47  (4, 2, 3, 1, 5)       True   2732.750000   8.469035e+04  2.500000
44  (4, 1, 3, 2, 5)       True   2835.750000   5.291053e+13  1.500000
17  (1, 4, 2, 3, 5)       True   3002.500000   4.848623e+26  2.000000
21  (2, 1, 3, 4, 5)       True   3197.000000   9.339148e+77  2.400000
15  (1, 3, 4, 2, 5)       True   3220.600000   4.050661e+08  2.400000
19  (1, 4, 3, 2, 5)       True   3367.800000  4.798266e+217  3.000000
49  (4, 3, 1, 2, 5)       True   3951.666667   4.215937e+05  1.666667
6   (1, 2, 3, 4, 4)       True   3964.833333   1.838852e+33  2.500000
23  (2, 1, 4, 3, 5)       True   4083.500000   1.038945e+33  1.500000
29  (2, 4, 1, 3, 5)       True   4473.666667   2.050538e+13  1.333333
4   (1, 2, 3, 4, 3)       True   4714.833333  6.616553e+297  2.500000
10  (1, 2, 3, 4, 6)       True   5888.000000  1.456424e+110  2.333333
38  (3, 2, 4, 1, 5)       True   5920.000000  3.616482e+170  2.200000
36  (3, 2, 1, 4, 5)       True   5958.000000   4.814338e+08  2.666667
33  (3, 1, 2, 4, 5)       True   8379.000000   8.500257e+10  5.000000
43  (4, 1, 2, 3, 5)       True  12723.000000   5.271931e+27  2.000000

In [108]:
gdf[(gdf["max_count"] == True) & (gdf['values'].apply(lambda tup: tup[0] == 1))]

             values  max_count       Equals            Fit     index
13  (1, 3, 2, 4, 5)       True     0.000000   7.435400e+03  3.250000
1   (1, 2, 3, 4, 1)       True     3.166667   9.077912e+03  2.500000
2   (1, 2, 3, 4, 2)       True  1468.000000   1.565792e+72  2.500000
12  (1, 2, 4, 3, 5)       True  2190.400000  1.367504e+215  2.200000
8   (1, 2, 3, 4, 5)       True  2655.600000  2.003442e+284  2.800000
17  (1, 4, 2, 3, 5)       True  3002.500000   4.848623e+26  2.000000
15  (1, 3, 4, 2, 5)       True  3220.600000   4.050661e+08  2.400000
19  (1, 4, 3, 2, 5)       True  3367.800000  4.798266e+217  3.000000
6   (1, 2, 3, 4, 4)       True  3964.833333   1.838852e+33  2.500000
4   (1, 2, 3, 4, 3)       True  4714.833333  6.616553e+297  2.500000
10  (1, 2, 3, 4, 6)       True  5888.000000  1.456424e+110  2.333333

In [109]:
gdf[(gdf["max_count"] == True) & (gdf['values'].apply(lambda tup: tup[0] == 4))]

             values  max_count        Equals           Fit     index
50  (4, 3, 2, 1, 5)       True      0.500000  9.710321e+04  1.500000
45  (4, 2, 1, 3, 5)       True   2273.500000  5.065357e+35  2.500000
47  (4, 2, 3, 1, 5)       True   2732.750000  8.469035e+04  2.500000
44  (4, 1, 3, 2, 5)       True   2835.750000  5.291053e+13  1.500000
49  (4, 3, 1, 2, 5)       True   3951.666667  4.215937e+05  1.666667
43  (4, 1, 2, 3, 5)       True  12723.000000  5.271931e+27  2.000000

In [110]:
fdf[fdf["values"] == (4, 1, 2, 3, 5)]

,values,max_count,Equals,Fit,index,filename
305,"(4, 1, 2, 3, 5)",True,12723,5.271931e+27,2,"2_mxc_True_[4, 1, 2, 3, 5]_date_04-14_15-15-07..."
124,"(4, 1, 2, 3, 5)",False,0,1.775644e+93,2,"2_mxc_False_[4, 1, 2, 3, 5]_date_04-14_15-33-4..."
123,"(4, 1, 2, 3, 5)",False,0,3.594581e+49,5,"5_mxc_False_[4, 1, 2, 3, 5]_date_04-15_16-30-4..."

In [115]:
fname = fdf[fdf["values"] == (4, 1, 2, 3, 5)]["filename"].iloc[0]

In [117]:
plot_graph(file_name=dir_path + "/" + fname)